extends layout

block content
  .content
    p.emoji-text :(
    p.tip
      | The Application ran into a problem and needs to retry!
    br
    br
    .stacks-container
      | Error Message (Readable): #{error.message}.
      p.stacks.
        #{error.stack}