@charset "UTF-8";
/* Bootstrap 外部导入 */
@import url(/node_modules/bootstrap/dist/css/bootstrap.min.css);

body {
  background-color: #000;
  font-family: SourceHanSansSC-regular, system-ui, -apple-system !important;
}

#app {
  max-width: 100%;
}
.MuYu-Container,
.Ranking-Container {
  text-align: center;
  cursor: pointer;
}
.Ranking-Container {
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 1.8rem;
}
.Guna {
  text-align: left;
}
.AllServer,
.TodayClick {
  border-bottom-color: rgb(102, 102, 102);
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
.TodayClick {
  border-top-color: rgb(102, 102, 102);
  border-top-width: 2px;
  border-top-style: solid;
}
.icon {
  margin-right: 0.58rem;
}
.Guna div,
.Ranking-Container div {
  text-align: left;
  height: 3rem;
  width: 18rem;
  color: rgba(255, 255, 255, 1);
  padding: 0.2rem;
  font-family: SourceHanSansSC-regular, system-ui, -apple-system;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.Ranking-Container div {
  width: 12rem;
}
#GunasRankingBtn {
  font-family: SourceHanSansSC-regular, system-ui, -apple-system;
  font-size: 18px;
  font-weight: bold;
}
.gunas {
  position: absolute;
  left: 70%;
  top: 24%;
  opacity: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100px;
  height: 30px;
  font-size: 21px;
  color: yellow;
}
#commitGunas {
  height: 3rem;
  width: 18rem;
  font-size: 18px;
  font-weight: bolder;
}
.GunasPlus {
  -webkit-animation: textMove 0.8s;
  animation: textMove 0.8s;
}
.btn {
  font-family: SourceHanSansSC-regular, system-ui, -apple-system !important;
}
.Zoom {
  -webkit-animation: zoom 0.3s;
  animation: zoom 0.3s;
}
#ErrorModal {
  z-index: 5555;
  top: 5px;
  right: 5px;
}
@-webkit-keyframes zoom {
  50% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes zoom {
  50% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes textMove {
  from {
    top: 24%;
    opacity: 1;
  }
  to {
    top: 22%;
    opacity: 0;
  }
}
@keyframes textMove {
  from {
    top: 24%;
    opacity: 1;
  }
  to {
    top: 22%;
    opacity: 0;
  }
}
